/* General Stuff */
body {
	margin: 0px;
	/* background-color: #252525; */
	background-image: url("../images/bg.png");
	background-repeat: repeat;
	color: #e8e8e8;
	font-size: 15px;
}

.conversionArea {
	padding: 20px;
	margin: auto;
	width: 80%;
	background-color: #454545;
	border-radius: 15px;
	text-align: center;
}

.title {
	font-size: 45px;
}

.textCenter {
	text-align: center;
}

div.divCenter {
	margin: auto;
}

div.embed {
	width: 80%;
	background-color: #3A3A3A;
	border-radius: 5px;
	border-left: 4px solid #3f3f3f;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 1px;
	transition: 500ms;
}
div.embed:hover {
	background-color: #282828;
	border-left: 4px solid #764740;
	transition: 500ms;
}

.embedLeft {
	padding: 5px;
	text-align: left;
	float: left;
	width: 40%;
	display: inline-flex;
}

.embedRight {
	text-align: left;
	float: left;
	width: 50%;
	display: inline-flex;
}
.embedRow:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 800px) {
	.columRow {
		width: auto;
	}
	.left {
		width: auto;
	}
	.middle ul, .right ul {
		margin: 0;
		overflow: auto;
	}

	.middle, .right {
		padding: 0;
		margin-left: 0;
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	.embedLeft {
		width: 100%;
		text-align: left;
		margin: 0;
	}
	.embedLeft ul {
		margin: 0;
	}
	.embedRight {
		float: left;
		width: 100%;
		text-align: left;
	}
}

.conversion {
	text-align: left;
	word-spacing: 2px;
	font-family: monospace;
}

.fade {
	animation: fadeOutIn 1s ease-in-out forwards;
}

@keyframes fadeOutIn {
	100% { opacity: 100%; }
	51% { opacity: 0%; }
	50% { content: attr(data-value); }
	49% { opacity: 0%; }
	0% { opacity: 100%; }
}

.inputArea {
	padding: 20px;
	background-color: #515151;
	border-radius: 10px;
	width: 70%;
	margin: auto;
}

div.inputArea br {
	display: block;
	content: "";
	margin-top: 7px;
}

.manualInput {
	width: 150px;
	border-width: 2px;
	border-radius: 5px;
	color: black;
	border-color: black;
}

.manualInput:invalid {
	color: red;
	border-color: red;
}

select.dropDownInput {
	min-width: 150px;
	border-width: 2px;
	border-radius: 5px;
	color: black;
	border-color: black;
}

.error {
	border-color: transparent;
}

.hidden {
	display: none;
}